body {
  margin: 0;
  padding: 0;

  background: #E25757;

  /* font-family: ProximaNova, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.2;

  color: #FFFFFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding: 0 10px;

  font-size: 20px;
  line-height: 23px;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  float: left;
  /* width: 80px; */
  height: 80px;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
}
.header-partner {
  margin-left: 10px;
  line-height: 80px;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-nav-item {
  padding: 14px 18px;
  border-radius: 10px;

  color: black;
  font-weight: 600;
  text-decoration: none;
}
.header-nav-item + .header-nav-item { margin-left: 10px; }
a.header-nav-item:hover,
a.header-nav-item:focus,
a.header-nav-item:active {
  background: rgba(174, 66, 66, .5); /* #AE4242; */
}

.u-clearfix::before,
.u-clearfix::after {
  content: '';
  display: table;
}
.u-clearfix::after { clear: both; }

.section {
  max-width: 1200px;
  padding: 0 32px;
  margin: 20px auto 40px;
}
.section--hero {
  background: url('../img/supplies.png') no-repeat bottom right;
  background-size: contain;
  font-size: 23px;
}
.hero-title {
  margin: 0;

  font-size: 50px;
  font-weight: 800;
  /* line-height: 117px; */
  letter-spacing: 2.5px;
}
.page-title {
  margin: 0;

  font-size: 42px;
  font-weight: 800;
}

.rightLandingPage {
  float: right;
  width: 50%;
  padding-top: 100px;
  margin: -80px 0 20px 32px;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: #4f4f4f;
}

@media screen and (max-width: 860px) {
  .header-nav-item { color: white; }
  .rightLandingPage {
    float: none;
    width: 87%;
    padding-top: 20px;
    margin: 20px auto 32px;
  }
}
